body {background-color: azure;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

* {
    font-family: sans-serif;
    font-weight: bolder;
}

.food {
    box-shadow: 40px 20px 3px lime inset;
    border: solid blue;
    ba
}
.op{}
div{background-image: (oo.jpg);}
